* {
	margin: 0%;
	padding: 0%;
}

body {
  font-family: 'Prompt';
}


header {
  background-color: rgb(127, 89, 156);
  padding: 5px;
  display: flex;
  /* flex-direction: row; */
  align-items: end;
  width: 100%;
  text-decoration: none;
}

#logocontainer {
  width: 15%;
  margin-right: 5%;
}

nav {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a:hover { 
  font-style: normal;
  text-decoration: none; 
  font-family: 'Prompt'; 
  font-size: 30px;
  color: #ffffff;
}


/*Body - General*/

body {
  background-color: rgb(248, 241, 250);
}

main {
  margin: 5%;
  padding-left: 11em;
  padding-right: 11em;
  text-align: center;
  color: rgb(51, 6, 59);
}

h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  text-align: right;
}

h2 {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 40px;
}

footer {
  background-color: rgb(127, 89, 156);
  padding-left: 5%;
  padding-bottom: 9%;
}

img {
  width: 50%;
}

/*About*/

h1 {
  margin-right: 100%;
}

img {
  width: 40%;
}

.baby {
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;

}

.art {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px; 
}

.artwork {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
}

.hair { 
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px; 
}

.kitten { 
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
}

.kitty { 
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
}

p {
  text-align: end;
  width: 10%;
  text-indent: 0%;
  padding-left: 35%;
  /* margin-left: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

/*Likes*/

section {
  width: 50%;
}

.first img {
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.second img {
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.third img {
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

aside {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 50%;
  width: 50%;
  text-align: end;
  flex-direction: row;
}



/*Activity*/

.socialmedia {
  width: 50%;
}

.horror {
  margin-right: 5%;
  width: 100%;
}


p {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  width: 50%;
  flex-direction: row;
}

/*Footer*/

footer {
  padding: 30px;
}

.footercontent{
  padding-left: 3%;
  display: inline-block;
  list-style: none;
}
