* {
	margin: 0%;
	padding: 0%;
}

body {
  font-family: 'Prompt';
}


header {
  background-color: rgb(127, 89, 156);
  padding: 5px;
  display: flex;
  /* flex-direction: row; */
  align-items: end;
  width: 100%;
  text-decoration: none;
}

#logocontainer {
  width: 15%;
  margin-right: 5%;
}

nav {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a:hover { 
  font-style: normal;
  text-decoration: none; 
  font-family: 'Prompt'; 
  font-size: 30px;
  color: #ffffff;
}


/*Body - General*/

body {
  background-color: rgb(248, 241, 250);
}

main {
   margin-right: 5%;
   margin-left: 5%;
  
  text-align: center;
  color: rgb(51, 6, 59);
}

h1 {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
}

h2 {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

footer {
  background-color: rgb(127, 89, 156);
  padding-left: 5%;
  padding-bottom: 9%;
}

img {
  width: 30%;
  padding-top: 20px;
}

/*About*/

h1 {
  margin-right: 100%;
}

.imgcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
}

.art {
  width: 23%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 40px;
}

.pic {
  width: 30%;
  height: 30%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 40px;
}

.img {
  width: 25%;
  height: 20%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 40px;
}


p {
  /* text-align: center; */
  width: 10%;
  text-indent: 0%;
  /* padding-left: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

/*Likes*/

section, aside {
  width: 50%;
  text-align: justify;
  /* background-color: white; */
}

.text, p {
  text-align: justify;
  padding-left: 1px;
  padding-right: 80px;
}


.spotify, .imgcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 40px;
  /* background-color: rgb(111, 111, 202); */
}

/* .firstimage {
  width: 20%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 40px;
  
} */

.secondimage {
  width: 30%;
  height: 65%;
  padding: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-style: groove;
  
}

/*Activity*/

.socialmedia {
  width: 100%;
}

.social {
  width: 60%;
  padding-left: 100px;
}

.shopping {
  width: 100%;
}

.shoplink {
  width: 40%;
  padding-right: 80px;
}

/* .socialmedia, .shopping {
  width: 100%;
}

.shopping, .shoplink {
  width: 60%;
  padding-left: 15%;
} */

.horror {
  width: 100%;
}

.youtuber {
  width: 30%;
  padding: 10px;
  border-style: groove;
}

.paragraph, p {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 15%;
  width: 70%;
  flex-direction: row;
  /* background-color: aqua; */
}

/*Footer*/

footer {
  padding: 30px;
}

.footercontent{
  padding-left: 3%;
  display: inline-block;
  list-style: none;
  font-style: italic;
}
